<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h6 class="page-title">
              <i class="fa-solid fa-layer-group"></i> Floors List
            </h6>
          </div>
          <div class="col-md-4">
            <div class="float-end d-none d-md-block">
              <a routerLink="/addfloors">
                <button class="btn btn-primary dropdown-toggle" type="button">
                  <i class="mdi mdi-plus me-2"></i>Add Floor
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div
                id="datatable_wrapper"
                class="dataTables_wrapper dt-bootstrap4 no-footer"
              >
                <div class="row"></div>
                <div class="row">
                  <div class="col-sm-12">
                    <table
                      id="datatable"
                      class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                      style="
                        border-collapse: collapse;
                        border-spacing: 0px;
                        width: 100%;
                      "
                      aria-describedby="datatable_info"
                    >
                      <thead>
                        <tr>
                          <th>Floor ID</th>
                          <th>Building ID</th>
                          <th>Floor Number</th>
                          <th>No. of Units</th>
                          <th>Plan</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="dtr-control sorting_1" tabindex="0"></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <button class="btn btn-sm btn-info me-1">
                              <i class="mdi mdi-eye"></i>
                            </button>
                            <button class="btn btn-sm btn-warning me-1">
                              <i class="mdi mdi-pencil"></i>
                            </button>
                            <button class="btn btn-sm btn-danger">
                              <i class="mdi mdi-delete"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
        </div>
        <!-- col-12 -->
      </div>
      <!-- row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- page-content -->
</div>
