<div class="page-content">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="page-title-box">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h6 class="page-title"><i class="fa-solid fa-building"></i> Buildings List</h6>
        </div>
        <div class="col-md-4">
          <div class="float-end d-none d-md-block">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button">
                <i class="mdi mdi-plus me-2"></i>Add Building
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div
              id="datatable_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="row"></div>
              <div class="row">
                <div class="col-sm-12">
                  <table
                    id="datatable"
                    class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                    style="
                      border-collapse: collapse;
                      border-spacing: 0px;
                      width: 100%;
                    "
                    aria-describedby="datatable_info"
                  >
                    <thead>
                      <tr>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="datatable"
                          rowspan="1"
                          colspan="1"
                          style="width: 124.2px"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                        >
                          Name
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="datatable"
                          rowspan="1"
                          colspan="1"
                          style="width: 192.2px"
                          aria-label="Position: activate to sort column ascending"
                        >
                          Position
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="datatable"
                          rowspan="1"
                          colspan="1"
                          style="width: 89.2px"
                          aria-label="Office: activate to sort column ascending"
                        >
                          Office
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="datatable"
                          rowspan="1"
                          colspan="1"
                          style="width: 36.2px"
                          aria-label="Age: activate to sort column ascending"
                        >
                          Age
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="datatable"
                          rowspan="1"
                          colspan="1"
                          style="width: 79.2px"
                          aria-label="Start date: activate to sort column ascending"
                        >
                          Start date
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="datatable"
                          rowspan="1"
                          colspan="1"
                          style="width: 66.2px"
                          aria-label="Salary: activate to sort column ascending"
                        >
                          Salary
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr class="">
                        <td class="dtr-control sorting_1" tabindex="0">
                          Airi Satou
                        </td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
