<div class="card">
  <div class="card-datatable table-responsive pt-0">
    <div
      id="DataTables_Table_0_wrapper"
      class="dt-container dt-bootstrap5 dt-empty-footer"
    >
      <div
        class="row card-header flex-column flex-md-row border-bottom mx-0 px-3"
      >
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0"
        >
          <h5 class="card-title mb-0 text-md-start text-center pb-md-0 pb-6">
            Projects
          </h5>
        </div>
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0"
        >
          <a routerLink="/addprojects">
            <button class="btn btn-primary" type="button">Add New Projects
            </button>
          </a>
        </div>
      </div>
      <div class="row mx-0 px-3 my-0 justify-content-between border-bottom">
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0"
        >
          <div class="dt-length">
            <label for="dt-length-0"
              >Show<select
                name="DataTables_Table_0_length"
                aria-controls="DataTables_Table_0"
                class="form-select"
                id="dt-length-0"
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option></select
              >entries</label
            >
          </div>
        </div>
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0"
        >
          <div class="dt-search mt-0 mt-md-6 mb-6">
            <label for="dt-search-0">Search:</label
            ><input
              type="search"
              class="form-control ms-4"
              id="dt-search-0"
              placeholder=""
              aria-controls="DataTables_Table_0"
            />
          </div>
        </div>
      </div>
      <div class="justify-content-between dt-layout-table">
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive"
        >
          <table
            class="datatables-basic table dataTable dtr-column"
            id="DataTables_Table_0"
            aria-describedby="DataTables_Table_0_info"
          >
            <colgroup>
              <col data-dt-column="0" />
              <col data-dt-column="1" />
              <col data-dt-column="3" />
              <col data-dt-column="4" />
              <col data-dt-column="5" />
              <col data-dt-column="6" />
              <col data-dt-column="7" />
              <col data-dt-column="8" />
            </colgroup>
            <thead>
              <tr>
                <th
                  data-dt-column="0"
                  class="control dt-orderable-none"
                  rowspan="1"
                  colspan="1"
                  aria-label=""
                >
                  <span class="dt-column-title"></span
                  ><span class="dt-column-order"></span>
                </th>
                <th
                  data-dt-column="1"
                  rowspan="1"
                  colspan="1"
                  class="dt-select dt-orderable-none"
                  aria-label=""
                >
                  <span class="dt-column-title"></span
                  ><span class="dt-column-order"></span>
                </th>
                <th
                  data-dt-column="3"
                  rowspan="1"
                  colspan="1"
                  class="dt-orderable-asc dt-orderable-desc"
                  aria-label="Name: Activate to sort"
                  tabindex="0"
                >
                  <span class="dt-column-title" role="button">Name</span
                  ><span class="dt-column-order"></span>
                </th>
                <th
                  data-dt-column="4"
                  rowspan="1"
                  colspan="1"
                  class="dt-orderable-asc dt-orderable-desc"
                  aria-label="Email: Activate to sort"
                  tabindex="0"
                >
                  <span class="dt-column-title" role="button">Email</span
                  ><span class="dt-column-order"></span>
                </th>
                <th
                  data-dt-column="5"
                  rowspan="1"
                  colspan="1"
                  class="dt-orderable-asc dt-orderable-desc"
                  aria-label="Date: Activate to sort"
                  tabindex="0"
                >
                  <span class="dt-column-title" role="button">Date</span
                  ><span class="dt-column-order"></span>
                </th>
                <th
                  data-dt-column="6"
                  rowspan="1"
                  colspan="1"
                  class="dt-orderable-asc dt-orderable-desc"
                  aria-label="Salary: Activate to sort"
                  tabindex="0"
                >
                  <span class="dt-column-title" role="button">Salary</span
                  ><span class="dt-column-order"></span>
                </th>
                <th
                  data-dt-column="7"
                  rowspan="1"
                  colspan="1"
                  class="dt-orderable-asc dt-orderable-desc"
                  aria-label="Status: Activate to sort"
                  tabindex="0"
                >
                  <span class="dt-column-title" role="button">Status</span
                  ><span class="dt-column-order"></span>
                </th>
                <th
                  data-dt-column="8"
                  rowspan="1"
                  colspan="1"
                  class="dt-orderable-none"
                  aria-label="Actions"
                >
                  <span class="dt-column-title">Actions</span
                  ><span class="dt-column-order"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="8" class="dt-empty">Loading...</td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>
      </div>
      <div class="row mx-3 justify-content-between">
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0"
        >
          <div
            class="dt-info"
            aria-live="polite"
            id="DataTables_Table_0_info"
            role="status"
          >
            Showing 0 to 0 of 0 entries
          </div>
        </div>
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0"
        >
          <div class="dt-paging"><nav aria-label="pagination"></nav></div>
        </div>
      </div>
    </div>
  </div>
</div>


